In [6]:
import pandas as pd
from pandas.io.json import json_normalize
import json

In [11]:
def df_from_response(file_name: str,
         columns=['Open', 'High', 'Low', 'Close', 'AdjClose', 'Volume']):

    def read_json_file(file_name: str) -> dict:
        with open(f'../data/{file_name}') as f:
            return json.load(f)

    def convert_response(d):
        # convert the response into datetimerecords that can be
        # parsed by Pandas
        for dt, prec in d['Time Series (Daily)'].items():
            r = { 'datetime': dt}
            r.update(prec)
            yield r
     
    df = pd.DataFrame(convert_response(read_json_file(file_name)))
    # rename the columns    
    df = df.rename(columns={'1. open': 'Open',
                            '2. high': 'High',
                            '3. low': 'Low',
                            '4. close': 'Close',
                            '5. adjusted close': 'AdjClose',
                            '6. volume': 'Volume'})
    df['datetime'] = pd.to_datetime(df['datetime'])
    df.set_index('datetime', inplace=True)
    df.sort_index(inplace=True)
    # extract the default columns
    df = df[columns]
    return df

In [12]:
df_from_response('data_aapl.json')

                Open      High       Low     Close  AdjClose    Volume
datetime
2000-05-04  115.1200  115.2500  110.5600  110.6900    3.4311   3567100
2000-05-05  110.8100  114.7500  110.7200  113.1200    3.5064   2536400
2000-05-08  112.0900  113.6900  110.0000  110.1200    3.4134   1650900
2000-05-09  110.3100  111.2500  104.8700  105.4400    3.2683   2920900
2000-05-10  104.0600  105.0000   98.7500   99.3100    3.0783   4777600
...              ...       ...       ...       ...       ...       ...
2020-04-29  284.7300  289.6700  283.8900  287.7300  287.7300  34320204
2020-04-30  289.9600  294.5300  288.3500  293.8000  293.8000  45765968
2020-05-01  286.2500  299.0000  285.8500  289.0700  289.0700  60154175
2020-05-04  289.1700  293.6900  286.3172  293.1600  293.1600  33391986
2020-05-05  295.0600  301.0000  294.4600  297.5600  297.5600  36576653

[5032 rows x 6 columns]

In [9]:
json_normalize(read_json_file('data_aapl.json'))

,Meta Data.1. Information,Meta Data.2. Symbol,Meta Data.3. Last Refreshed,Meta Data.4. Output Size,Meta Data.5. Time Zone,Time Series (Daily).2020-05-05.1. open,Time Series (Daily).2020-05-05.2. high,Time Series (Daily).2020-05-05.3. low,Time Series (Daily).2020-05-05.4. close,Time Series (Daily).2020-05-05.5. adjusted close,...,Time Series (Daily).2000-05-05.7. dividend amount,Time Series (Daily).2000-05-05.8. split coefficient,Time Series (Daily).2000-05-04.1. open,Time Series (Daily).2000-05-04.2. high,Time Series (Daily).2000-05-04.3. low,Time Series (Daily).2000-05-04.4. close,Time Series (Daily).2000-05-04.5. adjusted close,Time Series (Daily).2000-05-04.6. volume,Time Series (Daily).2000-05-04.7. dividend amount,Time Series (Daily).2000-05-04.8. split coefficient
0,Daily Time Series with Splits and Dividend Events,aapl,2020-05-05,Full size,US/Eastern,295.0600,301.0000,294.4600,297.5600,297.5600,...,0.0000,1.0000,115.1200,115.2500,110.5600,110.6900,3.4311,3567100,0.0000,1.0000

In [3]:
aapl = pd.read_json('../data/data_aapl.json')

In [4]:
aapl

,Meta Data,Time Series (Daily)
1. Information,Daily Time Series with Splits and Dividend Events,NaN
2. Symbol,aapl,NaN
3. Last Refreshed,2020-05-05,NaN
4. Output Size,Full size,NaN
5. Time Zone,US/Eastern,NaN
...,...,...
2000-05-10,NaN,"{'1. open': '104.0600', '2. high': '105.0000',..."
2000-05-09,NaN,"{'1. open': '110.3100', '2. high': '111.2500',..."
2000-05-08,NaN,"{'1. open': '112.0900', '2. high': '113.6900',..."
2000-05-05,NaN,"{'1. open': '110.8100', '2. high': '114.7500',..."
2000-05-04,NaN,"{'1. open': '115.1200', '2. high': '115.2500',..."